#video {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 1;
}

#crop,
#predict {
    position: fixed;
    top: 20px;
    left: 1000px;
    z-index: 1;
}

#predict {
    z-index: 2;
}

.loading {
    position: fixed;
    top: 20px;
    left: 0;
    opacity: 0.2;
    background-color: #ffffff;
}
